<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account Login</title>
</head>

<body>
    <main>
        <div>
            <h1>Login</h1>
            <form method="post" action="">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" name="username">
                <label for="password">Password:</label>
                <input type="password" name="password">
                <button class="button">Login</button>
            </form>
        </div>
    </main>
    
</body>
</html>