<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>

<body>
    <main>
        <div>
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <label for="username">Username:</label>
                <input type="text" name="username">
                <label for="password1">Password1:</label>
                <input type="password" name="password1">
                <label for="password2">Password2:</label>
                <input type="password" name="password2">
                <button class="button">Signup</button>
              </form>
        </div>
    </main>
    
</body>
</html>