<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
              <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
              </tr>
            </thead>
            <tbody>
            <tr>
                {% for item in receipt_list %}
                <td>{{ item.vendor }}</td>
                <td>{{ item.total }}</td>
                <td>{{ item.tax }}</td>
                <td>{{ item.date|date:'m-d-Y'}}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.account }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>

    </main>
    
</body>
</html>